In [13]:
import pandas as pd

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('occupations.csv')

# Display the first 10 rows of the DataFrame
print(df.head(25))

# Display the last 10 rows of the DataFrame
print(df.tail(10))

# Display Count number of rows with each unique value of variable in the DataFrame
print(df.shape)
print(len(df))

print(df.columns)

   user_id|age|gender|occupation|zip_code
0                 1|24|M|technician|85711
1                      2|53|F|other|94043
2                     3|23|M|writer|32067
3                 4|24|M|technician|43537
4                      5|33|F|other|15213
5                  6|42|M|executive|98101
6              7|57|M|administrator|91344
7              8|36|M|administrator|05201
8                    9|29|M|student|01002
9                    10|53|M|lawyer|90703
10                    11|39|F|other|30329
11                    12|28|F|other|06405
12                 13|47|M|educator|29206
13                14|45|M|scientist|55106
14                 15|49|F|educator|97301
15            16|21|M|entertainment|10309
16               17|30|M|programmer|06355
17                    18|35|F|other|37212
18                19|40|M|librarian|02138
19                20|42|F|homemaker|95660
20                   21|26|M|writer|30068
21                   22|25|M|writer|40206
22                   23|30|F|artist|48197
23                   24|21|F|artist|94533
24                 25|39|M|engineer|55107
    user_id|age|gender|occupation|zip_code
933                934|61|M|engineer|22902
934                  935|42|M|doctor|66221
935                   936|24|M|other|32789
936                937|48|M|educator|98072
937              938|38|F|technician|55038
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841
(943, 1)
Index(['user_id|age|gender|occupation|zip_code'], dtype='object')

the DataFrame has a single column with a string value containing multiple fields separated by the pipe ('|') character. It appears to be a single string, not separate columns.

In [36]:
import pandas as pd

# Read the CSV file into a pandas DataFrame with '|' as the delimiter
df = pd.read_csv('occupations.csv', delimiter='|')

print(df.columns)
print(df.shape)
print(df['occupation'])
print(df.occupation) #same thing as the line 8
print(df['occupation'].unique()) #print unique occupation strings

# Use value_counts to count the occurrences of each occupation
occupation_counts = df['occupation'].value_counts()

# Find the most frequent occupation
most_frequent_occupation = occupation_counts.idxmax()
print('the most frequent occupation is ', most_frequent_occupation)

print(df.describe(include="all"),'\n') # will give a simple summary of the number of unique values and most frequently occurring values

# Summarize each column individually
print(df['user_id'].describe(),'\n',df['age'].describe(),df['gender'].describe(),'\n',df['occupation'].describe(),'\n',df['zip_code'].describe())

#summarize occupation column only
print(df['occupation'].describe(),'\n')

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')
(943, 5)
0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object
0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object
['technician' 'other' 'writer' 'executive' 'administrator' 'student'
 'lawyer' 'educator' 'scientist' 'entertainment' 'programmer' 'librarian'
 'homemaker' 'artist' 'engineer' 'marketing' 'none' 'healthcare' 'retired'
 'salesman' 'doctor']
the most frequent occupation is  student
           user_id         age gender occupation zip_code
count   943.000000  943.000000    943        943      943
unique         NaN         NaN      2         21      795
top            NaN         NaN      M    student    55414
freq           NaN         NaN    670        196        9
mean    472.000000   34.051962    NaN        NaN      NaN
std     272.364951   12.192740    NaN        NaN      NaN
min       1.000000    7.000000    NaN        NaN      NaN
25%     236.500000   25.000000    NaN        NaN      NaN
50%     472.000000   31.000000    NaN        NaN      NaN
75%     707.500000   43.000000    NaN        NaN      NaN
max     943.000000   73.000000    NaN        NaN      NaN

count    943.000000
mean     472.000000
std      272.364951
min        1.000000
25%      236.500000
50%      472.000000
75%      707.500000
max      943.000000
Name: user_id, dtype: float64
 count    943.000000
mean      34.051962
std       12.192740
min        7.000000
25%       25.000000
50%       31.000000
75%       43.000000
max       73.000000
Name: age, dtype: float64 count     943
unique      2
top         M
freq      670
Name: gender, dtype: object
 count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object
 count       943
unique      795
top       55414
freq          9
Name: zip_code, dtype: object
count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [37]:
import pandas as pd

# Read the CSV file into a pandas DataFrame with '|' as the delimiter
df = pd.read_csv('occupations.csv', delimiter='|')

#summarize agen column only
print(df['age'].describe(),'\n')

count    943.000000
mean      34.051962
std       12.192740
min        7.000000
25%       25.000000
50%       31.000000
75%       43.000000
max       73.000000
Name: age, dtype: float64

The mean age of users is 34 as it is read above.