In [8]:
import pandas as pd
import numpy as np
import matplotlib as plt

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('student-mat.csv',delimiter=',')

# Select the columns of interest
studAlc = df.loc[:, 'school':'guardian']

# Define a function to capitalize the first letter of a string
def capitalizer(x):
    return x.capitalize()

# Apply the capitalizer function to the 'Mjob' and 'Fjob' columns
studAlc['Mjob'] = studAlc['Mjob'].apply(capitalizer)
studAlc['Fjob'] = studAlc['Fjob'].apply(capitalizer)

print(studAlc.iloc[-1:])

    school sex  age address famsize Pstatus  Medu  Fedu   Mjob     Fjob  \
394     MS   M   19       U     LE3       T     1     1  Other  At_home

     reason guardian
394  course   father

You notice that the original dataframe is still lowercase? 
Why is that? Fix it and capitalize Mjob and Fjob.

The reason the original DataFrame is still lowercase is that the changes were made only in the studAlc DataFrame, not in the original df.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('student-mat.csv', delimiter=',')

# Select the columns of interest
studAlc = df.loc[:, 'school':'guardian']

# Define a function to capitalize the first letter of a string
def capitalizer(x):
    return x.capitalize()

# Apply the capitalizer function to the 'Mjob' and 'Fjob' columns and assign them back to the original DataFrame
df['Mjob'] = df['Mjob'].apply(capitalizer)
df['Fjob'] = df['Fjob'].apply(capitalizer)

# Print the updated 'Mjob' column in the original DataFrame
print(df['Mjob'])
print(df['Fjob'])

0       At_home
1       At_home
2       At_home
3        Health
4         Other
         ...
390    Services
391    Services
392       Other
393    Services
394       Other
Name: Mjob, Length: 395, dtype: object
0       Teacher
1         Other
2         Other
3      Services
4         Other
         ...
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('student-mat.csv', delimiter=',')

# Select the columns of interest
studAlc = df.loc[:, 'school':'guardian']

# Define a function that returns true if age>17 and false otherwise
def majority(age):
    return age >17

studAlc_with_legal_drinker = studAlc.assign(legal_drinker = studAlc['age'].apply(majority))
print(studAlc_with_legal_drinker)
studAlc['legal_drinker'] = studAlc['age'].apply(majority)
print(studAlc['legal_drinker'])

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     reason guardian  legal_drinker
0    course   mother           True
1    course   father          False
2     other   mother          False
3      home   mother          False
4      home   father          False
..      ...      ...            ...
390  course    other           True
391  course   mother          False
392  course    other           True
393  course   mother           True
394  course   father           True

[395 rows x 13 columns]
0       True
1      False
2      False
3      False
4      False
       ...
390     True
391    False
392     True
393     True
394     True
Name: legal_drinker, Length: 395, dtype: bool

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('student-mat.csv', delimiter=',')

# Select the columns of interest
studAlc = df.loc[:, 'school':'guardian']

def timesTen(x):
    if isinstance(x, (int, float)):
        return 10 * x
    else:
        return x

studAlc_timesTen = studAlc.applymap(timesTen)
print(studAlc_timesTen)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F  180       U     GT3       A    40    40   at_home   teacher
1       GP   F  170       U     GT3       T    10    10   at_home     other
2       GP   F  150       U     LE3       T    10    10   at_home     other
3       GP   F  150       U     GT3       T    40    20    health  services
4       GP   F  160       U     GT3       T    30    30     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M  200       U     LE3       A    20    20  services  services
391     MS   M  170       U     LE3       T    30    10  services  services
392     MS   M  210       R     GT3       T    10    10     other     other
393     MS   M  180       R     LE3       T    30    20  services     other
394     MS   M  190       U     LE3       T    10    10     other   at_home

     reason guardian
0    course   mother
1    course   father
2     other   mother
3      home   mother
4      home   father
..      ...      ...
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

[395 rows x 12 columns]